.navStyle {
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 160px;
}

.headerLinks {
    display: flex;
    align-items: center; 
}

.headerLinks > li {
    font-size:  40px;

}


