.homeCatalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px 20px;
}



.allProducts {
    width: 500px;
    height: 650px;
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
    
}

.allProducts > img {
    width: 300px;
    height: 250px;
    object-fit: fill;
}

.text {
    text-align: center;
}