
.CartPageBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.CartPage {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color:azure;
    width: 85%;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    min-height: 500px;

}

.productCart {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    background-color: white;
    width: 80%;
    /* gap: 50px; */
    border: 2px ;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(98, 72, 121);
}
.productCart p {
    font-size: 20px;
}

.productCart a {
    text-decoration: none;
    color: black;
    
}

.productCart a p:hover {
    text-decoration: none;
    font-weight: bold;
    
}

.productCart img {
    width: 70px;;
    height: 70px;
    padding: 10px;
}

.RemoveButton {
    background-color: red;
    color: white;
    font-weight: bold;
    padding-right: 5px;
    margin-right: 5px;
}

.NoItems {
    text-align: center;
}

.TotalPrice{
    text-align: right;
}