.productDetailsMenu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.productContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.productDetailsCard{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.productDetailsCard img {
        width: 650px;
        height: 600px;
        object-fit: contain;
      
}

.title {
    font-size: 40px;
}

.DeleteButtonComment{
    background-color: red;
    color: white;
    font-weight: bold;
    width: 222px;
}

.DeleteButtonComment:hover{
    background-color: rgb(201, 0, 0);
}

.Information {
   font-size: 15px;
}
.InformationTitle {
    margin-bottom: 5px;
 }

.AddCommentBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.commentForm {
    display: flex;
    flex-direction: column;
}

.commentForm textarea{
   width: 100%;
}

.ProductComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ProductComments ul {
 padding: 5px;
 margin: 5px;
}

.InvidualComment {
    border: 2px;
    border-style: solid;
    margin-bottom: 5px;
    padding: 5px;
    border-color: rgb(139, 139, 255);
    border-radius: 10px;
    width: 500px;
}