.navStyle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: aqua;
    height: 100px;
}

.headerLinks {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    width: 100%;
}

.headerLinks > li {
    font-size:  35px;
    list-style-type: none;
    padding: 5px;

}

.headerLinks a {
    text-decoration: none;
}

.SearchBar {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
}

.SearchBar input {
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    padding: 0px;
}

.SearchBar input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hello {
    font-size: 26px;
}

a.active {
    color: black;
    font-weight: bold;
}